html {
	font-family: Georgia, serif;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1em;
}

body {
	max-width: 85ch;
	margin:auto;
}

h1 {
	font-size: 3.5rem;
	margin-top: 150px;
	margin-bottom: 50px;
}

aside {
	display: flex;
	gap: 20px;
}

aside>* {
	flex: 33% 1 1;
}

main>p:first-of-type {
	font-size: 1.5em;
	line-height: 1.4em;
}

video {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

hr {
	height: 0;
	border: 0;
	border-top: 1px solid grey;
	margin-top: 80px;
	margin-bottom: 80px;
}

