html {
	font-family: Georgia, serif;
}

body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100ch;
	margin:auto;
}

header {
	flex-basis: 100%;
	flex-shrink: 0;
	max-width: calc(50ch + 25ch + 50px);
}

main {
	max-width: 50ch;
}

aside {
	max-width: 25ch;
	margin-left: 50px;
}

aside>article+article {
	margin-top: 40px;
}

video {
	max-width: 100%;
}
